<ion-header>
  <ion-navbar>
    <ion-title>
      Meetings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div class="space"></div>

<ion-list no-lines>
  <ion-item-divider color="light">{{date | date:'mediumDate'}}</ion-item-divider>
  <ion-item *ngFor="let meeting of meetings let spacer=spacer;" [ngClass]="{ spacer: spacer }">
    <ion-icon name="ios-calendar-outline" item-left></ion-icon>
      <h2>{{meeting.meeting}}</h2>
      <p>Starts At {{meeting.starttime}}</p>
  </ion-item>
</ion-list>

<div class="space"></div>
<ion-list no-lines>
  <ion-item-divider color="light">{{date | date:'mediumDate'}}</ion-item-divider>
  <ion-item *ngFor="let meeting2 of meetings2 let spacer=spacer;" [ngClass]="{ spacer: spacer }">
    <ion-icon name="ios-calendar-outline" item-left></ion-icon>
      <h2>{{meeting2.meeting}}</h2>
      <p>Starts At {{meeting2.starttime}}</p>
  </ion-item>
</ion-list>
</ion-content>